This file contains a demonstration of the following git command: 

1 - Create a .gitignore file

touch .gitignore

2 - Edit .gitignore file

nano .gitignore

.gitignore files are directories and files that are to be ignored in a repository. 

This will tell Git which directories and files to disregard particularly when it comes to tracking. 
